@using EduHome.DataAccessLayer.Entity;
@model List<Course>

@foreach (var course in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a href="@course.Link">
                    <img src="~/@course.ImageUrl" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a href="@course.Link">@course.Title</a></h3>
                <p>@course.Description</p>
                <a class="default-btn" href="@course.Link">read more</a>
            </div>
        </div>
    </div>
}