@using EduHome.DataAccessLayer.Entity;
@model List<Event>

@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-event mb-60">
            <div class="event-img">
                <a href="@item.Link">
                    <img src="~/@item.ImageUrl" alt="event">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
                <div class="event-date">
                    <h3>@Html.Raw(item.Date)</h3>
                </div>
            </div>
            <div class="event-content text-left">
                <h4><a href="@item.Link">@item.Title</a></h4>
                <ul>
                    <li><span>time:</span> @item.Time</li>
                    <li><span>venue</span> @item.Address</li>
                </ul>
                <div class="event-content-right">
                    <a class="default-btn" href="@item.Link">join now</a>
                </div>
            </div>
        </div>
    </div>
}